<nav>

  <a href routerLink="/" routerLinkActive [routerLinkActiveOptions]="{exact: true}" #basicSequence="routerLinkActive" [hidden]="basicSequence.isActive">Basic Sequence</a>

  <span [hidden]="!basicSequence.isActive">Basic Sequence</span>

  <a href routerLink="/mapping-values" routerLinkActive #mappingValues="routerLinkActive" [hidden]="mappingValues.isActive">Mapping Values</a>

  <span [hidden]="!mappingValues.isActive">Mapping Values</span>

  <a href routerLink="/maintaining-state" routerLinkActive #maintainingState="routerLinkActive" [hidden]="maintainingState.isActive">Maintaining State</a>

  <span [hidden]="!maintainingState.isActive">Maintaining State</span>

  <a href routerLink="/merging-streams" routerLinkActive #mergingStreams="routerLinkActive" [hidden]="mergingStreams.isActive">Merging Streams</a>

  <span [hidden]="!mergingStreams.isActive">Merging Streams</span>

  <a href routerLink="/mapping-functions" routerLinkActive #mappingFunctions="routerLinkActive" [hidden]="mappingFunctions.isActive">Mapping to Functions</a>

  <span [hidden]="!mappingFunctions.isActive">Mapping to Functions</span>

  <a href routerLink="/sequencing-streams" routerLinkActive #sequencingStreams="routerLinkActive" [hidden]="sequencingStreams.isActive">Sequencing Streams</a>

  <span [hidden]="!sequencingStreams.isActive">Sequencing Streams</span>

  <a href routerLink="/stream-origins" routerLinkActive #streamOrigins="routerLinkActive" [hidden]="streamOrigins.isActive">Stream Origins</a>

  <span [hidden]="!streamOrigins.isActive">Stream Origins</span>

</nav>

<router-outlet></router-outlet>
